.bodye1{
	background-color: grey;

}
.h2e1{
	color: white;
	text-align: center;
}

.pe1{
	font-family: verdana;
	font-size: 20px
}

.pe2{
	color: red;
	text-align: center;
}

.pe3{
	text-align: center;
	color: red;
}

.centere5{
	text-align: center;
	color: red;
}

p.centere6{
	text-align: center;
	color: red;
}

p.centere7{
	text-align: center;
	color: red;
}

p.largee7{
	font-size: 300%
}

.e8{
	text-align: center;
	color: red;
}

.e9{
	color: red;
	/* This is a single line comment */
	text-align: center;
	/* And i'm here just to bother also, by the way
	i am suposed to be 
	a multiple line comment, what
	ever
	that
	is..
	jaja */
}

div.e10{
	background-color: lightblue;
}

h2.e10{
	color: blue;
	text-align: center;
}

p.e10{
	text-align: left;
}

h1.e12{
	background-color: dodgerblue;
}

p.e12{
	background-color: tomato;
}

h1.e13{
	color: tomato;
}

div.e13 p{
	color: dodgerblue
}

div.e13 p.e13{
	color: mediumseagreen;
}

#para1e3{
	font-family: verdana;
	font-size: 20px;
}

#para1e4{
	text-align: center;
	color: red;
}

body{
	background-image: url("imgdg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}

h1.e14{
	border: 2px solid tomato;
}

div.e14 p{
	border: 2px solid dodgerblue;
}
div p.e14{
	border: 2px solid violet;
}

#e16{
	height: 200px;
	width: 50%;
	max-width: 500px;
	background-color: powderblue;
	border: 25px solid green;
	padding: 25px;
	margin: 25;

}
#e17{
	width: 320px;
	padding: 10px;
	border: 5px solid gray;
	margin: 0;
}

.e17 #dot{
	outline-color: red;
	outline-style: dotted;

}
.e17 #dash {
	outline-color: red;
	outline-style: dashed;
}
.e17 #solid {
	outline-color: red;
	outline-style: solid;
}
.e17 #double {
	outline-color: red;
	outline-style: double;
}
.e17 #groove {
	outline-color: red;
	outline-style: groove;
}
.e17 #ridge {
	outline-color: red;
	outline-style: ridge;
}
.e17 #inset {
	outline-color: red;
	outline-style: inset;
}
.e17 #outset {
	outline-color: red;
	outline-style: outset;
}

div.e18 {
	/* Long version 
	border: 2px solid black;
	outline: 2px solid blue;
	margin-top: 100px;
	margin-right: 100px;
	margin-bottom: 150px;
	margin-left: 80px;*/
	/** Short version 
	margin: 100px 30px 40px 200px; */
	/** Auto margin 
	width: 300px;
	margin: auto;
	border: 2px solid black;*/
	/* Inherit value */
	border: 2px solid red;
	margin-left: 100px;
}

/* pt2 of Inherit value */
p.e18 {
	margin-left: inherit;
	border: inherit;
}

div.e18 h1{
	margin: 0 0 50px 0;
}

div.e18 h2{
	margin: 20px 0 0 0;
}

div.e19{
	/* Individual Padding 
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;*/
	/* Short version 
	padding: 25px 50px 75px 100px; */
	/* Padding and element width */
	width: 300px;
	padding: 25px;
	box-sizing: border-box; 
}

div.e20{
	/* V1 
	height: 200px;
	width: 50%;
	background-color: powderblue; */
	/* V2 */
	height: 100px;
	width: 500px;
	background-color: powderblue;
	/* Max-width 
	max-width: 500px;
	height: 100px;
	background-color: powderblue; */
}

div.e21{
	/* Box model 
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px; */
	/* Width and Height of an Element */
	width: 320px;
	padding: 10px;
	border: 5px solid gray;
	margin: 0;
}

div.e22{

}

/* Outline Style */
p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;} 

/* Outline Color */
p.ex1e22{
	border: 1px solid black;
	outline-style: solid;
	outline-color: red;
}

p.ex2e22{
	border: 1px solid black;
	outline-style: double;
	outline-color: green;
}

p.ex3e22{
	border: 1px solid black;
	outline-style: outset;
	outline-color: yellow; 
} 

/* Outline Width */
p.ex4e22 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}

p.ex5e22 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
}

p.ex6e22 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
}

p.ex7e22 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
}

/* Shorthand property */
p.ex8e22 {
	outline: dashed;
}
p.ex9e22 {
	outline: dotted red;
}
p.ex10e22 {
	outline: 5px solid yellow;
}
p.ex11e22 {
	outline: thick ridge pink;
}

/* Outline offset */
p.ex12e22{
	margin: 30px;
	background-color: yellow;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
    width: 380px;
}

/* Text color */
.e23 div {
	color: blue;
}

.e23 h1{
	color: green;
}

/* Text Alignment */
.e23 h1{
	text-align: center;
}

.e23 h2{
	text-align: left;
}

.e23 h3{
	text-align: right;
}

.e23 div{
	text-align: justify;
}

/* Text decoration */
.e23 a{
	text-decoration: none;
}

.e23 h1{
	text-align: center;
	text-decoration: overline;
}

.e23 h2{
	text-align: left;
	text-decoration: line-through;
}

.e23 h3{
	text-align: right;
	text-decoration: underline;
}

/* Text Transformation */
#up {
	text-transform: uppercase;
}

#low{
	text-transform: lowercase;
}

#cap{
	text-transform: capitalize;
}

/* Text Indentation */
.e23 p{
	text-indent: 50px;
}

/* Letter Spacing */
.e23 h1{
	letter-spacing: 3px;
}

.e23 h2{
	letter-spacing: -3px;
}

/* Line Height */
#up{
	line-height: .8;
}

#low{
	line-height: 1.8;
}

/* Text Direction */
#cap{
	direction: rtl;
}

/* Word Spacing */
.e23 h1{
	word-spacing: 10px;
}

.e23 h2{
	word-spacing: -5px;
}

/* Text Shadow */
.e23 h3{
	text-shadow: 3px 2px red;
}

/* Font family*/
.e24 p{
	font-family: "Times New Roman", Times, serif;
}

/* Font style */
.e24 h2{
	font-style: normal;
}

.e24 h3{
	font-style: italic;
}

.e24 h4{
	font-style: oblique;
}

/* Font size with EM*
.e24 h2{
	font-size: 1em;
}

.e24 h3{
	font-size: 2em;
}

.e24 h4{
	font-size: 3em;
} */

/* Set Font Size With Pixels */
.e24 h1 {
	font-size: 40px;
}

.e24 h2 {
	font-size: 30px;
}

.e24 p {
	font-size: 14px;
}

/* Use a combination of Percent and EM */

.e24 body {
    font-size: 100%;
}

.e24 div h1 {
    font-size: 2.5em;
}

.e24 div h2 {
    font-size: 1.875em;
}

.e24 div p {
    font-size: 0.875em;
}

/* Font Weight */
#normalW{
	font-weight: normal;
}

#bold{
	font-weight: bold;
}

/* Responsive Font size */
#hw{
	font-size: 10vw;
}

/* Font variant */
#norm{
	font-variant: normal;
}

#smallcaps{
	font-variant: small-caps;
}

/* Styling Links */
/*.e26 a{
	color: hotpink;
	text-decoration: none;
}

.e26 a:link {
	color: red;
}

.e26 a:visited {
	color: green;
}

.e26 a:hover {
	color: hotpink;
}

.e26 a:active {
	color: blue;
}*/

/* Text Decoration */
/*
.e26 a:link {
    text-decoration: none;
}

.e26 a:visited {
    text-decoration: none;
}

.e26 a:hover {
    text-decoration: underline;
}

.e26 a:active {
    text-decoration: underline;
}*/

/* Background Color */
/*
.e26 a:link {
    background-color: yellow;
}

.e26 a:visited {
    background-color: cyan;
}

.e26 a:hover {
    background-color: red;
}

.e26 a:active {
    background-color: hotpink;
}  */

/* Advanced - Link Buttons */
.e26 a:link, .e26 a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
}

.e26 a:hover, .e26 a:active {
    background-color: red;
    text-decoration: none;
    color: green;
}
/* Different List Item Marker */
.e27 ul.a {
    list-style-type: circle;
}

.e27 ul.b {
    list-style-type: square;
}

.e27 ol.c {
    list-style-type: upper-roman;
}

.e27 ol.d {
    list-style-type: lower-alpha;
}

/* An image as the list item marker */
#special{
	list-style-image: url('sqpurple.gif');
}

/* Position the list item markers */
ul.ab {
    list-style-position: outside;
}

ul.bb {
    list-style-position: inside;
}

/* Remove Default Settings */
/*
.e27 ul, .e27 ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
} */

/* List - Shorthand property */

.e27 ul {
    list-style: square inside url("sqpurple.gif");
}


/* Styling list with colors */

.e27 ol {
    background: #ff9999;
    padding: 20px;
}

.e27 ul {
    background: #3399ff;
    padding: 20px;
}

.e27 ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

.e27 ul li {
    background: #cce5ff;
    margin: 5px;
}

/* Table Borders
	Review example later table, th, td **
 */ 
/*table, th, td {
	border: 1px solid black;
}*/

/* Collapse Table borders */

table {
    border-collapse: collapse;
    border: 1px solid black;
}
/*
table, th, td {
    border: 1px solid black;
}*/

/* Table width and height */
/*    width: 100%;
}

th {
    height: 50px;
}*/

/* Horizontal Alignment */
/*th {
    text-align: left;
}*/

/* Vertical Alignment */
/*td {
    height: 50px;
    vertical-align: bottom;
}*/

/* Table padding */
/*th, td {
    padding: 15px;
    text-align: left;
}*/

/* Horizontal Dividers */
/*th, td {
    border-bottom: 1px solid #ddd;
}*/.

/* Hoverable Table */
/*tr:hover {
	background-color: #f5f5f5;
}*/ /* No sirve si estan separados por un border */

/* Striped Tables */
/*tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: green;
}*/

/* Table Color */
/*th {
    background-color: #4CAF50;
    color: white;
}*/

/* Responsive Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/* Override The default display value */

.e29 ul li{
	display: inline;
}

.e29 span{
	display: block;
}

/* Hide an Element - display:none or visibility:hidden? */
.e29 h2 {
    display: none;

}

.e29 h3{
	visibility: hidden;
}


.e30 div.ex1 {
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

.e30 div.ex2 {
    max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

/* position: static */
div.static {
    position: static;
    border: 3px solid #73AD21;
}

/* position: relative */
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

/* position: fixed */
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

/* position: absolute */
div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
} 

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

/* position: sticky */
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.e31 div img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}




