.bodye1{
	background-color: grey;

}
.h2e1{
	color: white;
	text-align: center;
}

.pe1{
	font-family: verdana;
	font-size: 20px
}

.pe2{
	color: red;
	text-align: center;
}

.pe3{
	text-align: center;
	color: red;
}

.centere5{
	text-align: center;
	color: red;
}

p.centere6{
	text-align: center;
	color: red;
}

p.centere7{
	text-align: center;
	color: red;
}

p.largee7{
	font-size: 300%
}



#para1e3{
	font-family: verdana;
	font-size: 20px;
}

#para1e4{
	text-align: center;
	color: red;
}